@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}

.header .banner--wrap a .wantbtn, .contact--wrap__content .form input[type="submit"] {
  background: linear-gradient(45deg, #87c68d, #0cacd0);
}

.header .nav--wrap, .header .banner--wrap, .footer--wrap, .about--wrap, .features--wrap, .product--wrap, .services--wrap, .rwd--wrap, .reason--wrap, .design--wrap, .question--wrap, .contact--wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.change-color {
  color: #252525 !important;
}

.nav--wrap__changelogo {
  background: url(/logo-black.ba7c10a5.png) no-repeat;
  width: 180px;
  height: 41px;
  background-size: contain;
}

.moving {
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.header {
  width: 100%;
  background: url(/header-bk.0064993b.jpg);
  background-size: cover;
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 8px 0;
  z-index: 50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .nav--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav--wrap__logo {
  width: 180px;
  height: 41px;
  background: url(/logo-white.b5f3e7e8.png) no-repeat;
  background-size: contain;
}

.header .nav--wrap__menu li {
  float: left;
}

.header .nav--wrap__menu li a {
  display: inline-block;
  color: #fff;
  padding: 0 1rem;
  position: relative;
}

.header .nav--wrap__menu li a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 150%;
  left: 20%;
  width: 20px;
  height: 2px;
  background: #87c68d;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.header .nav--wrap__menu li a:hover::after {
  width: 50px;
}

.header .nav--wrap__sidebar {
  display: none;
}

.header .nav--wrap__sidebar .line {
  width: 24px;
  height: 4px;
  margin-bottom: 4px;
  background: #fff;
}

.header .banner {
  padding-top: 100px;
}

.header .banner--wrap {
  padding: 1rem 0;
}

.header .banner--wrap__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0.5rem;
}

.header .banner--wrap__narrate {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 2rem;
}

.header .banner--wrap a .wantbtn {
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 0.5rem;
  letter-spacing: 2px;
  margin-bottom: 80px;
  cursor: pointer;
}

.header .banner--wrap a .wantbtn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.header .sidealert {
  width: 90%;
  height: 80%;
  background: linear-gradient(45deg, rgba(135, 198, 141, 0.9), rgba(12, 172, 208, 0.9));
  border-radius: 8px;
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-170%, -50%);
          transform: translate(-170%, -50%);
  z-index: 99;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .sidealert--menu {
  padding: 1rem;
}

.header .sidealert--menu__item {
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.header .sidealert--menu a {
  display: block;
}

.header .sidealert--menu a + a {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .header .nav--wrap {
    width: 90%;
    margin: 0 auto;
  }
  .header .nav--wrap__menu {
    display: none;
  }
  .header .nav--wrap__sidebar {
    display: block;
  }
  .header .banner--wrap {
    width: 90%;
    margin: 0 auto;
  }
}

.active {
  color: #87c68d;
}

.on {
  display: block !important;
}

.form-style {
  color: red;
  font-size: 14px;
  padding-top: 4px;
  margin-left: 12px;
}

.footer {
  background: #252525;
}

.footer--wrap {
  padding: 2rem 0 1rem;
}

.footer--wrap__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer--wrap__info .infos {
  width: calc(100% / 3);
}

.footer--wrap__info .infos h2 {
  color: #f4f4f4 !important;
  font-size: 20px;
  margin-bottom: 1rem;
  border-left: 4px solid #87c68d;
  padding-left: 12px;
}

.footer--wrap__info .infos p {
  color: #f4f4f4;
  margin-bottom: 0.8rem;
  font-weight: 100;
}

.footer--wrap__info .third img {
  width: 36px;
  margin-left: 20px;
}

.footer--wrap__list {
  text-align: center;
  margin-bottom: 12px;
  font-size: 0;
}

.footer--wrap__list li {
  display: inline-block;
  font-size: 1rem;
}

.footer--wrap__list li a {
  color: #f4f4f4;
  font-size: 14px;
  display: inline-block;
  padding: 2px 12px;
}

.footer--wrap__list li a:hover {
  color: #87c68d;
}

.footer--wrap__list li + li {
  border-left: 1px solid #fff;
}

.footer--wrap__copyright {
  text-align: center;
  color: #898989;
  font-size: 14px;
}

@media (max-width: 992px) {
  .footer .footer--wrap {
    width: 90%;
    margin: 0 auto;
  }
  .footer .infos {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .footer .footer--wrap__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .infos {
    width: 100%;
  }
  .footer .third {
    margin: 12px auto;
  }
  .footer .third a + a {
    margin-left: 35px;
  }
  .footer .third img {
    width: 36px;
    margin-left: 0;
  }
  .footer .footer--wrap__list {
    display: none;
  }
}

.owl-carousel .item {
  width: 95%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.owl-carousel .item .hidebox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.about--wrap {
  padding: 5rem 0;
}

.about--wrap__title {
  margin-bottom: 42px;
}

.about--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.about--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.about--wrap__content {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about--wrap__content p:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about--wrap__content p:nth-of-type(1) em {
  display: block;
  font-weight: 600;
  font-size: 28px;
  color: #87c68d;
}

.about--wrap__content p:nth-of-type(1) em:nth-of-type(2) {
  color: #0cacd0;
}

.about--wrap__content p:nth-of-type(1) em + em {
  padding-top: 1rem;
}

.about--wrap__content p:nth-of-type(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #898989;
  line-height: 24px;
}

@media (max-width: 992px) {
  .about .about--wrap__content {
    width: 85%;
  }
}

.features {
  background: #f4f4f4;
}

.features--wrap {
  padding: 5rem 0;
}

.features--wrap__title {
  margin-bottom: 42px;
}

.features--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.features--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.features--wrap__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features--wrap__content .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3);
}

.features--wrap__content .advantage--logo {
  width: 48px;
  height: 48px;
}

.features--wrap__content .advantage--info {
  padding: 1rem;
}

.features--wrap__content .advantage--info__title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}

.features--wrap__content .advantage--info__content {
  color: #898989;
  line-height: 24px;
}

@media (max-width: 992px) {
  .features .features--wrap {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .features .advantage {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .features .advantage {
    width: calc(100%);
  }
}

.product--wrap {
  padding: 5rem 0;
}

.product--wrap__title {
  margin-bottom: 42px;
}

.product--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.product--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.services--wrap {
  padding: 5rem 0;
}

.services--wrap__title {
  margin-bottom: 42px;
}

.services--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.services--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.services--wrap__content .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services--wrap__content .table--col2 {
  padding: 4px;
  width: 50%;
}

.services--wrap__content .table--col2__p {
  border: 1px solid #f4f4f4;
  padding: 4px;
  min-height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services--wrap__content .table--col2__p div:nth-of-type(1) {
  width: calc(100% / 3);
}

.services--wrap__content .table--col2__p div:nth-of-type(1) img {
  display: block;
  width: 64px;
  margin: 12px auto;
}

.services--wrap__content .table--col2__p div:nth-of-type(1) h3 {
  text-align: center;
  margin-bottom: 4px;
  color: #87c68d;
}

.services--wrap__content .table--col2__p div:nth-of-type(1) h4 {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

.services--wrap__content .table--col2__p div:nth-of-type(1) a {
  color: #87c68d;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #87c68d;
  border-radius: 24px;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 100px;
  text-align: center;
  margin: 15% auto 0;
}

.services--wrap__content .table--col2__p div:nth-of-type(1) a:hover {
  border-color: #0cacd0;
  color: #0cacd0;
}

.services--wrap__content .table--col2__p div:nth-of-type(2) {
  width: calc(100% / 3 * 2);
  padding: 1rem;
}

.services--wrap__content .table--col2__p div:nth-of-type(2) p {
  line-height: 24px;
  color: #252525;
}

.services--wrap__content .table--col1 {
  padding: 4px;
  width: 25%;
}

.services--wrap__content .table--col1__p {
  border: 1px solid #f4f4f4;
  margin-bottom: 4px;
  padding: 4px;
  min-height: 100px;
}

.services--wrap__content .table--col1__p img {
  display: block;
  width: 32px;
  margin: 12px auto 8px;
}

.services--wrap__content .table--col1__p h3 {
  text-align: center;
  margin-bottom: 4px;
  color: #87c68d;
}

.services--wrap__content .table--col1__p h4 {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 992px) {
  .services .services--wrap {
    width: 90%;
    margin: 0 auto;
  }
  .services .table {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services .table--col2 {
    width: 100%;
  }
  .services .table--col1 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .services .table--col2__p div:nth-of-type(2) p {
    word-break: break-all;
  }
}

@media (max-width: 576px) {
  .services .table--col1 {
    width: 100%;
    padding: 0 !important;
  }
  .services .table--col2 {
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
  }
  .services .table--col2__p {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .table--col2__p div:nth-of-type(1),
  .services .table--col2__p div:nth-of-type(2) {
    width: 100%;
    padding: 0;
  }
  .services .table--col2__p div:nth-of-type(1) a {
    margin: 5% auto 0;
  }
  .services .table--col2__p div:nth-of-type(2) > p {
    text-align: center;
  }
}

.rwd {
  background: #f4f4f4;
}

.rwd--wrap {
  padding: 5rem 0;
}

.rwd--wrap__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rwd--wrap__contentinfo {
  width: 50%;
}

.rwd--wrap__contentinfo h2 {
  font-size: 20px;
  color: #252525;
  margin-bottom: 8px;
}

.rwd--wrap__contentinfo p {
  line-height: 24px;
  color: #898989;
  margin-bottom: 12px;
}

.rwd--wrap__contentinfo img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .rwd .rwd--wrap {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .rwd .rwd--wrap__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rwd .rwd--wrap__contentinfo {
    width: 100%;
  }
}

.reason--wrap {
  padding: 5rem 0;
}

.reason--wrap__title {
  margin-bottom: 42px;
}

.reason--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.reason--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reason--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.reason--wrap__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason--wrap__content .reasons {
  width: calc(100% / 3);
  margin-bottom: 1rem;
}

.reason--wrap__content .reasons img {
  width: 48px;
  display: block;
  margin: 0 auto 4px;
}

.reason--wrap__content .reasons h4 {
  text-align: center;
  margin-bottom: 8px;
  color: #252525;
  font-weight: 400;
}

.reason--wrap__content .reasons p {
  padding: 0.5rem 5rem;
  font-size: 14px;
  line-height: 20px;
  color: #898989;
}

@media (max-width: 992px) {
  .reason .reason--wrap {
    width: 90%;
    margin: 0 auto;
  }
  .reason .reasons p {
    padding: 0.5rem 3rem;
  }
}

@media (max-width: 768px) {
  .reason .reasons {
    width: 50%;
  }
  .reason .reasons p {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 576px) {
  .reason .reasons {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .reason .reasons p {
    padding: 0.5rem 3rem;
  }
}

.design--wrap {
  padding: 5rem 0;
}

.design--wrap__title {
  margin-bottom: 42px;
}

.design--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.design--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.design--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.design--wrap__content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto 1rem;
}

.design--wrap__content-menu li {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.design--wrap__content-menu li:hover {
  color: #87c68d;
}

.design--wrap__content-menu li + li {
  border-left: 1px solid #898989;
}

.design--wrap__content-project {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design--wrap__content-project .works {
  width: calc(100% / 3);
  padding: 1rem;
}

.design--wrap__content-project .works--img {
  cursor: pointer;
}

.design--wrap__content-project .works--img img {
  width: 100%;
  display: block;
}

.design--wrap__content-project .works--title {
  margin-top: 8px;
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .design .design--wrap__content-menu {
    width: 80%;
  }
  .design .works {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .design .design--wrap__content-menu {
    width: 100%;
  }
  .design .works {
    width: 100%;
  }
}

.question--wrap {
  padding: 5rem 0;
}

.question--wrap__title {
  margin-bottom: 42px;
}

.question--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.question--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.question--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.question--wrap__content ul li {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.question--wrap__content ul li .qa {
  font-size: 18px;
  cursor: pointer;
}

.question--wrap__content ul li .ans {
  padding: 1rem;
  line-height: 24px;
  color: #898989;
  display: none;
}

@media (max-width: 576px) {
  .question .question--wrap {
    width: 90%;
    margin: 0 auto;
  }
  .question .ans {
    padding: 1rem 0 !important;
  }
}

.contact--wrap {
  padding: 5rem 0;
}

.contact--wrap__title {
  margin-bottom: 42px;
}

.contact--wrap__title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
}

.contact--wrap__title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  background: #87c68d;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact--wrap__title h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
}

.contact--wrap__content .form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.contact--wrap__content .form--item {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contact--wrap__content .form--item label {
  min-width: 85px;
  font-size: 16px;
  vertical-align: middle;
}

.contact--wrap__content .form--item label em {
  color: red;
}

.contact--wrap__content .form--item input[type="text"] {
  border: none;
  font-size: 16px;
  padding-top: 4px;
  vertical-align: middle;
}

.contact--wrap__content .form input[type="submit"] {
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 8px 42px;
  border-radius: 25px;
  display: block;
  margin: 1rem auto 0;
  cursor: pointer;
}

.contact--wrap__content .form input[type="submit"]:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

@media (max-width: 992px) {
  .contact .contact--wrap {
    width: 90%;
    margin: 0 auto;
  }
}


/*# sourceMappingURL=/style.a11e3109.css.map */